<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android_examples"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <permission android:name="android.permission.SET_WALLPAPER"></permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.android_examples.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.android_examples.Calculadora"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.android_examples.WeightSum"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.android_examples.Camara"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.android_examples.Form"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.android_examples.BundleSender"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.android_examples.BundleReciver"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SobreMi"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.example.android_examples.ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Prefs"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.android_examples.PREFS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.android_examples.GFX"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.android_examples.GFXSurface"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.android_examples.GFXSurface2"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.android_examples.LongClick"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.android_examples.Tabs"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
